<!DOCTYPE html>

<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../poly-filter/poly-filter.html">
<link rel="import" href="power-portfolio-item.html">

<!--
`power-portfolio`
Displays a filterable portfolio of projects. Each project can be expanded to
show a short and long description as well as its list of tags.

```

@demo demo/index.html
-->

<dom-module id="power-portfolio">
  <template>
    <style include="app-grid-style">
      :host {
        display: block;
        --app-grid-columns: 4;
        --app-grid-gutter: 1rem;
        --app-grid-item-height: 61.8%;
				--app-grid-expandible-item-columns: 4;
      }
      .expanded {
        @apply --app-grid-expandible-item;
        order: 0;
      }
    </style>

    <h2>Portfolio</h2>

    <poly-filter
        filter="[[tagFilter]]"
        array-to-filter="[[_toArray(portfolio.projects)]]"
        filtered-array="{{projects}}"
        filter-by="tags"
        filter-max-depth="3"
    ></poly-filter>

    <paper-tabs scrollable selected="{{tagFilter}}" attr-for-selected="name">
      <paper-tab name="">All</paper-tab>
      <template is="dom-repeat" items="[[_keysToArray(portfolio.tags)]]">
        <paper-tab name="[[item]]">[[item]]</paper-tab>
      </template>
    </paper-tabs>


    <div class="app-grid" has-aspect-ratio>
      <template is="dom-repeat" items="{{projects}}">
				<power-portfolio-item item="[[item]]"></power-portfolio-item>
      </template>
    </div>

  </template>

  <script>
    Polymer({
      is: 'power-portfolio',
      properties: {
        /**
         * Portfolio data. Should be an object with two top-level keys, like so:
         *
         * ```json
         * "projects": {
         *   "0": {
         *     "id": 0,
         *     "name": "Project 0",
         *     "url": "zero.com",
         *     "image": "/url/to/img",
         *     "description": "short description.",
         *     "long": "long description",
         *     "tags": ["array_of_tags"],
         *     "date": "publishing date"
         *   }
         * },
         * "tags": {
         *   "tag": ["array_of_tagged_ids"]
         * }
         * @type {Object}
         */
        portfolio: {
          type: Object,
        }
      },

      /**
       * Helper method to convert object to array for the purposes of dom-repeat
       * @param  {Object} obj The object to be converted
       * @return {Object}     The item (object) generated for each top-level key
       */
      _toArray: function (obj) {
        return Object.keys(obj).map(function(key) {
          return obj[key];
        });
      },
      _keysToArray: function (obj) {
        return Object.keys(obj).map(function(key) {
          return key;
        });
      }
    });
  </script>
</dom-module>
